*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 2rem 0;
}

section {
    margin-bottom: 30px;
}

.conteudo-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.btn-coluna {
    display: flex;
}

.conteudo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-text h2, span {
margin: 10px 0;
}

.conteudo-primary img {
    width: 400px;
    height: 400px;
}

.conteudo-options {
    display: flex;
}


.btn {
    background-color: blue;
    color: #fff;
    margin: 10px;
    padding: 8px;
    border-radius: 20px;
}

.btn-dark-dif {
    background-color: #000;
    color: #fff;
    margin: 10px;
    padding: 8px;
    border-radius: 20px;
    font-size: 18px;
}

.btn-dark {
    text-align: center;
    background-color: #000;
    color: #fff;
    margin: 10px;
    padding: 8px;
    border-radius: 20px;
    font-size: 18px;
}


.rodape {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
}


@media (min-width: 50px) and (max-width: 671px){

    body{
        text-align: center

    }

    .btn-coluna{
        flex-direction: column;
        font-size: 20px;
        text-align: center;
    }

    .btn-dark{
        width: 70%;
    }

    hr{
        width: 100%;
    }
}